# SQLAlchemy Tutorial

## Installation

In [1]:
!pip install sqlalchemy-hana
!pip install hdbcli

Requirement already satisfied: sqlalchemy-hana in ./venv/lib/python3.7/site-packages (0.4.0)
Requirement already satisfied: sqlalchemy>=1.0.0 in ./venv/lib/python3.7/site-packages (from sqlalchemy-hana) (1.3.18)
WARNING: You are using pip version 20.1.1; however, version 20.2.2 is available.
You should consider upgrading via the '/Users/yeongseon/Github/sqlalchemy-hana-tutorial/venv/bin/python3.7 -m pip install --upgrade pip' command.
Requirement already satisfied: hdbcli in ./venv/lib/python3.7/site-packages (2.5.101)
WARNING: You are using pip version 20.1.1; however, version 20.2.2 is available.
You should consider upgrading via the '/Users/yeongseon/Github/sqlalchemy-hana-tutorial/venv/bin/python3.7 -m pip install --upgrade pip' command.

In [2]:
import sqlalchemy
sqlalchemy.__version__

'1.3.5'

## Connecting to a Database

In [3]:
from sqlalchemy import create_engine

In [4]:
URL = "hana+hdbcli://SYSTEM:HXEHana1@211.252.87.28:39017"

In [5]:
engine = create_engine(URL, echo=True)

In [6]:
engine

Engine(hana+hdbcli://SYSTEM:***@211.252.87.28:39017)

In [7]:
conn = engine.connect()

In [8]:
engine

Engine(hana+hdbcli://SYSTEM:***@211.252.87.28:39017)

### Reference
- https://www.tutorialspoint.com/sap_hana/sap_hana_data_types.htm
- https://docs.sqlalchemy.org/en/13/core/type_basics.html

## Data Types

### DATE Type

In [9]:
conn.execute(
"""
CREATE COLUMN TABLE TABLE1(
    COLUMN1 DATE,
    COLUMN2 TIME,
    COLUMN3 SECONDDATE,
    COLUMN4 TIMESTAMP)
"""
)

2020-08-16 22:10:26,140 INFO sqlalchemy.engine.base.Engine
CREATE COLUMN TABLE TABLE1(
    COLUMN1 DATE,
    COLUMN2 TIME,
    COLUMN3 SECONDDATE,
    COLUMN4 TIMESTAMP)

2020-08-16 22:10:26,142 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:26,187 INFO sqlalchemy.engine.base.Engine COMMIT

### DATE Type

In [10]:
conn.execute(
"""
INSERT INTO TABLE1(COLUMN1) VALUES('2020-07-01');
"""
)

2020-08-16 22:10:26,223 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE1(COLUMN1) VALUES('2020-07-01');

2020-08-16 22:10:26,225 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:26,270 INFO sqlalchemy.engine.base.Engine COMMIT

In [11]:
rs = conn.execute(
"""
SELECT * FROM TABLE1;
"""
)
for row in rs:
    print(row)

2020-08-16 22:10:26,307 INFO sqlalchemy.engine.base.Engine
SELECT * FROM TABLE1;

2020-08-16 22:10:26,309 INFO sqlalchemy.engine.base.Engine ()
(datetime.date(2020, 7, 1), None, None, None)

#### TIME

In [12]:
conn.execute(
"""
INSERT INTO TABLE1(COLUMN2) VALUES('07:00:00');
"""
)

2020-08-16 22:10:26,353 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE1(COLUMN2) VALUES('07:00:00');

2020-08-16 22:10:26,354 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:26,391 INFO sqlalchemy.engine.base.Engine COMMIT

In [13]:
rs = conn.execute(
"""
SELECT * FROM TABLE1;
"""
)
for row in rs:
    print(row)

2020-08-16 22:10:26,427 INFO sqlalchemy.engine.base.Engine
SELECT * FROM TABLE1;

2020-08-16 22:10:26,429 INFO sqlalchemy.engine.base.Engine ()
(datetime.date(2020, 7, 1), None, None, None)
(None, datetime.time(7, 0), None, None)

#### SECOND DATE Type

In [14]:
conn.execute(
"""
INSERT INTO TABLE1(COLUMN3) VALUES('2020-07-01 07:00:00');
"""
)

2020-08-16 22:10:26,468 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE1(COLUMN3) VALUES('2020-07-01 07:00:00');

2020-08-16 22:10:26,469 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:26,518 INFO sqlalchemy.engine.base.Engine COMMIT

In [15]:
rs = conn.execute(
"""
SELECT * FROM TABLE1;
"""
)
for row in rs:
    print(row)

2020-08-16 22:10:26,552 INFO sqlalchemy.engine.base.Engine
SELECT * FROM TABLE1;

2020-08-16 22:10:26,553 INFO sqlalchemy.engine.base.Engine ()
(datetime.date(2020, 7, 1), None, None, None)
(None, datetime.time(7, 0), None, None)
(None, None, datetime.datetime(2020, 7, 1, 7, 0), None)

#### TIMESTAMP Type

In [16]:
conn.execute(
"""
INSERT INTO TABLE1(COLUMN4) VALUES('2020-07-01 07:31:00.9999999');
"""
)

2020-08-16 22:10:26,603 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE1(COLUMN4) VALUES('2020-07-01 07:31:00.9999999');

2020-08-16 22:10:26,606 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:26,642 INFO sqlalchemy.engine.base.Engine COMMIT

In [17]:
rs = conn.execute(
"""
SELECT * FROM TABLE1;
"""
)
for row in rs:
    print(row)

2020-08-16 22:10:26,677 INFO sqlalchemy.engine.base.Engine
SELECT * FROM TABLE1;

2020-08-16 22:10:26,678 INFO sqlalchemy.engine.base.Engine ()
(datetime.date(2020, 7, 1), None, None, None)
(None, datetime.time(7, 0), None, None)
(None, None, datetime.datetime(2020, 7, 1, 7, 0), None)
(None, None, None, datetime.datetime(2020, 7, 1, 7, 31, 0, 999999))

In [18]:
conn.execute(
"""
DROP TABLE TABLE1
"""
)

2020-08-16 22:10:26,716 INFO sqlalchemy.engine.base.Engine
DROP TABLE TABLE1

2020-08-16 22:10:26,718 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:26,753 INFO sqlalchemy.engine.base.Engine COMMIT

### Numeric Types

In [19]:
conn.execute(
"""
CREATE COLUMN TABLE TABLE2(
    COLUMN1 TINYINT,
    COLUMN2 SMALLINT,
    COLUMN3 INTEGER,
    COLUMN4 BIGINT,
    COLUMN5 DECIMAL(4,3),
    COLUMN6 SMALLDECIMAL,
    COLUMN7 REAL,
    COLUMN8 DOUBLE,
    COLUMN9 FLOAT(6))
"""
)

2020-08-16 22:10:26,788 INFO sqlalchemy.engine.base.Engine
CREATE COLUMN TABLE TABLE2(
    COLUMN1 TINYINT,
    COLUMN2 SMALLINT,
    COLUMN3 INTEGER,
    COLUMN4 BIGINT,
    COLUMN5 DECIMAL(4,3),
    COLUMN6 SMALLDECIMAL,
    COLUMN7 REAL,
    COLUMN8 DOUBLE,
    COLUMN9 FLOAT(6))

2020-08-16 22:10:26,790 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:26,829 INFO sqlalchemy.engine.base.Engine COMMIT

#### TINYINT Type

In [20]:
conn.execute(
"""
INSERT INTO TABLE2(COLUMN1) VALUES(0);
"""
)
conn.execute(
"""
INSERT INTO TABLE2(COLUMN1) VALUES(255);
"""
)

2020-08-16 22:10:26,861 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE2(COLUMN1) VALUES(0);

2020-08-16 22:10:26,863 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:26,907 INFO sqlalchemy.engine.base.Engine COMMIT
2020-08-16 22:10:26,927 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE2(COLUMN1) VALUES(255);

2020-08-16 22:10:26,928 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:26,972 INFO sqlalchemy.engine.base.Engine COMMIT

In [21]:
rs = conn.execute(
"""
SELECT * FROM TABLE2;
"""
)
for row in rs:
    print(row)

2020-08-16 22:10:27,005 INFO sqlalchemy.engine.base.Engine
SELECT * FROM TABLE2;

2020-08-16 22:10:27,007 INFO sqlalchemy.engine.base.Engine ()
(0, None, None, None, None, None, None, None, None)
(255, None, None, None, None, None, None, None, None)

#### SMALLINT Type

In [22]:
conn.execute(
"""
INSERT INTO TABLE2(COLUMN2) VALUES(-32768);
"""
)
conn.execute(
"""
INSERT INTO TABLE2(COLUMN2) VALUES(32767);
"""
)

2020-08-16 22:10:27,048 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE2(COLUMN2) VALUES(-32768);

2020-08-16 22:10:27,050 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:27,103 INFO sqlalchemy.engine.base.Engine COMMIT
2020-08-16 22:10:27,123 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE2(COLUMN2) VALUES(32767);

2020-08-16 22:10:27,125 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:27,163 INFO sqlalchemy.engine.base.Engine COMMIT

In [23]:
rs = conn.execute(
"""
SELECT * FROM TABLE2;
"""
)
for row in rs:
    print(row)

2020-08-16 22:10:27,198 INFO sqlalchemy.engine.base.Engine
SELECT * FROM TABLE2;

2020-08-16 22:10:27,199 INFO sqlalchemy.engine.base.Engine ()
(0, None, None, None, None, None, None, None, None)
(255, None, None, None, None, None, None, None, None)
(None, -32768, None, None, None, None, None, None, None)
(None, 32767, None, None, None, None, None, None, None)

#### INTEGER Type

In [24]:
conn.execute(
"""
INSERT INTO TABLE2(COLUMN3) VALUES(-214748648);
"""
)
conn.execute(
"""
INSERT INTO TABLE2(COLUMN3) VALUES(214748647);
"""
)

2020-08-16 22:10:27,242 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE2(COLUMN3) VALUES(-214748648);

2020-08-16 22:10:27,244 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:27,289 INFO sqlalchemy.engine.base.Engine COMMIT
2020-08-16 22:10:27,310 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE2(COLUMN3) VALUES(214748647);

2020-08-16 22:10:27,311 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:27,348 INFO sqlalchemy.engine.base.Engine COMMIT

In [25]:
rs = conn.execute(
"""
SELECT * FROM TABLE2;
"""
)
for row in rs:
    print(row)

2020-08-16 22:10:27,384 INFO sqlalchemy.engine.base.Engine
SELECT * FROM TABLE2;

2020-08-16 22:10:27,386 INFO sqlalchemy.engine.base.Engine ()
(0, None, None, None, None, None, None, None, None)
(255, None, None, None, None, None, None, None, None)
(None, -32768, None, None, None, None, None, None, None)
(None, 32767, None, None, None, None, None, None, None)
(None, None, -214748648, None, None, None, None, None, None)
(None, None, 214748647, None, None, None, None, None, None)

#### BIGINT Type

In [26]:
conn.execute(
"""
INSERT INTO TABLE2(COLUMN4) VALUES(-9223372036854775808);
"""
)
conn.execute(
"""
INSERT INTO TABLE2(COLUMN4) VALUES(9223372036854775807);
"""
)

2020-08-16 22:10:27,435 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE2(COLUMN4) VALUES(-9223372036854775808);

2020-08-16 22:10:27,436 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:27,472 INFO sqlalchemy.engine.base.Engine COMMIT
2020-08-16 22:10:27,495 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE2(COLUMN4) VALUES(9223372036854775807);

2020-08-16 22:10:27,497 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:27,534 INFO sqlalchemy.engine.base.Engine COMMIT

In [27]:
rs = conn.execute(
"""
SELECT * FROM TABLE2;
"""
)
for row in rs:
    print(row)

2020-08-16 22:10:27,568 INFO sqlalchemy.engine.base.Engine
SELECT * FROM TABLE2;

2020-08-16 22:10:27,569 INFO sqlalchemy.engine.base.Engine ()
(0, None, None, None, None, None, None, None, None)
(255, None, None, None, None, None, None, None, None)
(None, -32768, None, None, None, None, None, None, None)
(None, 32767, None, None, None, None, None, None, None)
(None, None, -214748648, None, None, None, None, None, None)
(None, None, 214748647, None, None, None, None, None, None)
(None, None, None, -9223372036854775808, None, None, None, None, None)
(None, None, None, 9223372036854775807, None, None, None, None, None)

#### DECIMAL

In [28]:
conn.execute(
"""
INSERT INTO TABLE2(COLUMN5) VALUES(3.1234567890123456789012345678901234);
"""
)

2020-08-16 22:10:27,617 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE2(COLUMN5) VALUES(3.1234567890123456789012345678901234);

2020-08-16 22:10:27,619 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:27,659 INFO sqlalchemy.engine.base.Engine COMMIT

In [29]:
rs = conn.execute(
"""
SELECT * FROM TABLE2;
"""
)
for row in rs:
    print(row)

2020-08-16 22:10:27,701 INFO sqlalchemy.engine.base.Engine
SELECT * FROM TABLE2;

2020-08-16 22:10:27,702 INFO sqlalchemy.engine.base.Engine ()
(0, None, None, None, None, None, None, None, None)
(255, None, None, None, None, None, None, None, None)
(None, -32768, None, None, None, None, None, None, None)
(None, 32767, None, None, None, None, None, None, None)
(None, None, -214748648, None, None, None, None, None, None)
(None, None, 214748647, None, None, None, None, None, None)
(None, None, None, -9223372036854775808, None, None, None, None, None)
(None, None, None, 9223372036854775807, None, None, None, None, None)
(None, None, None, None, Decimal('3.123'), None, None, None, None)

#### SMALLDECIMAL

In [30]:
conn.execute(
"""
INSERT INTO TABLE2(COLUMN6) VALUES(3.1234567890123456);
"""
)

2020-08-16 22:10:27,758 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE2(COLUMN6) VALUES(3.1234567890123456);

2020-08-16 22:10:27,760 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:27,800 INFO sqlalchemy.engine.base.Engine COMMIT

In [31]:
rs = conn.execute(
"""
SELECT * FROM TABLE2;
"""
)
for row in rs:
    print(row)

2020-08-16 22:10:27,834 INFO sqlalchemy.engine.base.Engine
SELECT * FROM TABLE2;

2020-08-16 22:10:27,835 INFO sqlalchemy.engine.base.Engine ()
(0, None, None, None, None, None, None, None, None)
(255, None, None, None, None, None, None, None, None)
(None, -32768, None, None, None, None, None, None, None)
(None, 32767, None, None, None, None, None, None, None)
(None, None, -214748648, None, None, None, None, None, None)
(None, None, 214748647, None, None, None, None, None, None)
(None, None, None, -9223372036854775808, None, None, None, None, None)
(None, None, None, 9223372036854775807, None, None, None, None, None)
(None, None, None, None, Decimal('3.123'), None, None, None, None)
(None, None, None, None, None, Decimal('3.123456789012345'), None, None, None)

#### REAL

In [32]:
conn.execute(
"""
INSERT INTO TABLE2(COLUMN7) VALUES(-3.40);
"""
)

2020-08-16 22:10:27,876 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE2(COLUMN7) VALUES(-3.40);

2020-08-16 22:10:27,878 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:27,913 INFO sqlalchemy.engine.base.Engine COMMIT

In [33]:
rs = conn.execute(
"""
SELECT * FROM TABLE2;
"""
)
for row in rs:
    print(row)

2020-08-16 22:10:27,947 INFO sqlalchemy.engine.base.Engine
SELECT * FROM TABLE2;

2020-08-16 22:10:27,949 INFO sqlalchemy.engine.base.Engine ()
(0, None, None, None, None, None, None, None, None)
(255, None, None, None, None, None, None, None, None)
(None, -32768, None, None, None, None, None, None, None)
(None, 32767, None, None, None, None, None, None, None)
(None, None, -214748648, None, None, None, None, None, None)
(None, None, 214748647, None, None, None, None, None, None)
(None, None, None, -9223372036854775808, None, None, None, None, None)
(None, None, None, 9223372036854775807, None, None, None, None, None)
(None, None, None, None, Decimal('3.123'), None, None, None, None)
(None, None, None, None, None, Decimal('3.123456789012345'), None, None, None)
(None, None, None, None, None, None, -3.4000000953674316, None, None)

#### DOUBLE

In [34]:
conn.execute(
"""
INSERT INTO TABLE2(COLUMN8) VALUES(-1.7976931348623157E308);
"""
)
conn.execute(
"""
INSERT INTO TABLE2(COLUMN8) VALUES(1.7976931348623157E308);
"""
)

2020-08-16 22:10:28,017 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE2(COLUMN8) VALUES(-1.7976931348623157E308);

2020-08-16 22:10:28,018 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:28,053 INFO sqlalchemy.engine.base.Engine COMMIT
2020-08-16 22:10:28,073 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE2(COLUMN8) VALUES(1.7976931348623157E308);

2020-08-16 22:10:28,075 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:28,118 INFO sqlalchemy.engine.base.Engine COMMIT

In [35]:
rs = conn.execute(
"""
SELECT * FROM TABLE2;
"""
)
for row in rs:
    print(row)

2020-08-16 22:10:28,148 INFO sqlalchemy.engine.base.Engine
SELECT * FROM TABLE2;

2020-08-16 22:10:28,149 INFO sqlalchemy.engine.base.Engine ()
(0, None, None, None, None, None, None, None, None)
(255, None, None, None, None, None, None, None, None)
(None, -32768, None, None, None, None, None, None, None)
(None, 32767, None, None, None, None, None, None, None)
(None, None, -214748648, None, None, None, None, None, None)
(None, None, 214748647, None, None, None, None, None, None)
(None, None, None, -9223372036854775808, None, None, None, None, None)
(None, None, None, 9223372036854775807, None, None, None, None, None)
(None, None, None, None, Decimal('3.123'), None, None, None, None)
(None, None, None, None, None, Decimal('3.123456789012345'), None, None, None)
(None, None, None, None, None, None, -3.4000000953674316, None, None)
(None, None, None, None, None, None, None, -1.7976931348623157e+308, None)
(None, None, None, None, None, None, None, 1.7976931348623157e+308, None)

#### FLOAT(n)

In [36]:
rs = conn.execute(
"""
SELECT * FROM TABLE2;
"""
)
for row in rs:
    print(row)

2020-08-16 22:10:28,193 INFO sqlalchemy.engine.base.Engine
SELECT * FROM TABLE2;

2020-08-16 22:10:28,195 INFO sqlalchemy.engine.base.Engine ()
(0, None, None, None, None, None, None, None, None)
(255, None, None, None, None, None, None, None, None)
(None, -32768, None, None, None, None, None, None, None)
(None, 32767, None, None, None, None, None, None, None)
(None, None, -214748648, None, None, None, None, None, None)
(None, None, 214748647, None, None, None, None, None, None)
(None, None, None, -9223372036854775808, None, None, None, None, None)
(None, None, None, 9223372036854775807, None, None, None, None, None)
(None, None, None, None, Decimal('3.123'), None, None, None, None)
(None, None, None, None, None, Decimal('3.123456789012345'), None, None, None)
(None, None, None, None, None, None, -3.4000000953674316, None, None)
(None, None, None, None, None, None, None, -1.7976931348623157e+308, None)
(None, None, None, None, None, None, None, 1.7976931348623157e+308, None)

In [37]:
conn.execute(
"""
DROP TABLE TABLE2
"""
)

2020-08-16 22:10:28,244 INFO sqlalchemy.engine.base.Engine
DROP TABLE TABLE2

2020-08-16 22:10:28,245 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:28,292 INFO sqlalchemy.engine.base.Engine COMMIT

### Character string type

In [38]:
conn.execute(
"""
CREATE COLUMN TABLE TABLE3(
    COLUMN1 VARCHAR(10),
    COLUMN2 NVARCHAR(10),
    COLUMN3 ALPHANUM,
    COLUMN4 SHORTTEXT(10))
"""
)

2020-08-16 22:10:28,324 INFO sqlalchemy.engine.base.Engine
CREATE COLUMN TABLE TABLE3(
    COLUMN1 VARCHAR(10),
    COLUMN2 NVARCHAR(10),
    COLUMN3 ALPHANUM,
    COLUMN4 SHORTTEXT(10))

2020-08-16 22:10:28,326 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:28,375 INFO sqlalchemy.engine.base.Engine COMMIT

#### VARCHAR

In [39]:
conn.execute(
"""
INSERT INTO TABLE3(COLUMN1) VALUES('VARCHAR');
"""
)

2020-08-16 22:10:28,409 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE3(COLUMN1) VALUES('VARCHAR');

2020-08-16 22:10:28,411 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:28,448 INFO sqlalchemy.engine.base.Engine COMMIT

In [40]:
rs = conn.execute(
"""
SELECT * FROM TABLE3;
"""
)
for row in rs:
    print(row)

2020-08-16 22:10:28,475 INFO sqlalchemy.engine.base.Engine
SELECT * FROM TABLE3;

2020-08-16 22:10:28,476 INFO sqlalchemy.engine.base.Engine ()
('VARCHAR', None, None, None)

#### NVARCHAR

In [41]:
conn.execute(
"""
INSERT INTO TABLE3(COLUMN2) VALUES('VARCHAR');
"""
)

2020-08-16 22:10:28,521 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE3(COLUMN2) VALUES('VARCHAR');

2020-08-16 22:10:28,523 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:28,557 INFO sqlalchemy.engine.base.Engine COMMIT

In [42]:
rs = conn.execute(
"""
SELECT * FROM TABLE3;
"""
)
for row in rs:
    print(row)

2020-08-16 22:10:28,592 INFO sqlalchemy.engine.base.Engine
SELECT * FROM TABLE3;

2020-08-16 22:10:28,593 INFO sqlalchemy.engine.base.Engine ()
('VARCHAR', None, None, None)
(None, u'VARCHAR', None, None)

#### ALPHANUM

In [43]:
conn.execute(
"""
INSERT INTO TABLE3(COLUMN3) VALUES('1');
"""
)
conn.execute(
"""
INSERT INTO TABLE3(COLUMN3) VALUES('7');
"""
)

2020-08-16 22:10:28,638 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE3(COLUMN3) VALUES('1');

2020-08-16 22:10:28,639 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:28,677 INFO sqlalchemy.engine.base.Engine COMMIT
2020-08-16 22:10:28,698 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE3(COLUMN3) VALUES('7');

2020-08-16 22:10:28,699 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:28,734 INFO sqlalchemy.engine.base.Engine COMMIT

In [44]:
rs = conn.execute(
"""
SELECT * FROM TABLE3;
"""
)
for row in rs:
    print(row)

2020-08-16 22:10:28,770 INFO sqlalchemy.engine.base.Engine
SELECT * FROM TABLE3;

2020-08-16 22:10:28,772 INFO sqlalchemy.engine.base.Engine ()
('VARCHAR', None, None, None)
(None, u'VARCHAR', None, None)
(None, None, u'1', None)
(None, None, u'7', None)

#### SHORTTEXT

In [45]:
conn.execute(
"""
INSERT INTO TABLE3(COLUMN4) VALUES('1');
"""
)
conn.execute(
"""
INSERT INTO TABLE3(COLUMN4) VALUES('10');
"""
)

2020-08-16 22:10:28,814 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE3(COLUMN4) VALUES('1');

2020-08-16 22:10:28,815 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:28,852 INFO sqlalchemy.engine.base.Engine COMMIT
2020-08-16 22:10:28,873 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE3(COLUMN4) VALUES('10');

2020-08-16 22:10:28,875 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:28,919 INFO sqlalchemy.engine.base.Engine COMMIT

In [46]:
rs = conn.execute(
"""
SELECT * FROM TABLE3;
"""
)
for row in rs:
    print(row)

2020-08-16 22:10:28,951 INFO sqlalchemy.engine.base.Engine
SELECT * FROM TABLE3;

2020-08-16 22:10:28,953 INFO sqlalchemy.engine.base.Engine ()
('VARCHAR', None, None, None)
(None, u'VARCHAR', None, None)
(None, None, u'1', None)
(None, None, u'7', None)
(None, None, None, u'1')
(None, None, None, u'10')

In [47]:
conn.execute(
"""
DROP TABLE TABLE3
"""
)

2020-08-16 22:10:28,997 INFO sqlalchemy.engine.base.Engine
DROP TABLE TABLE3

2020-08-16 22:10:28,999 INFO sqlalchemy.engine.base.Engine ()
2020-08-16 22:10:29,040 INFO sqlalchemy.engine.base.Engine COMMIT