In [1]:
!pip install sqlalchemy-hana

Requirement already satisfied: sqlalchemy-hana in ./venv/lib/python3.7/site-packages (0.4.0)
Requirement already satisfied: sqlalchemy>=1.0.0 in ./venv/lib/python3.7/site-packages (from sqlalchemy-hana) (1.3.18)
WARNING: You are using pip version 20.1.1; however, version 20.2.2 is available.
You should consider upgrading via the '/Users/yeongseon/Github/sqlalchemy-hana-tutorial/venv/bin/python3.7 -m pip install --upgrade pip' command.

## Connecting to a Database

In [2]:
from sqlalchemy import create_engine

In [3]:
URL = "hana+hdbcli://SYSTEM:HXEHana1@211.252.87.28:39017"

In [4]:
engine = create_engine(URL, echo=True)

In [5]:
engine

Engine(hana+hdbcli://SYSTEM:***@211.252.87.28:39017)

## Data Types

- https://docs.sqlalchemy.org/en/13/core/type_basics.html#generic-types

### DATE Types

In [6]:
from sqlalchemy.ext.declarative import declarative_base

In [9]:
from sqlalchemy import Table, Column, Integer, Time, DATE, TIMESTAMP

Base = declarative_base()
class Table1(Base):
    __tablename__ = 'table1'
    __table_args__ = {'hana_table_type': 'COLUMN'}
    
    id = Column(Integer, primary_key=True)
    column1 = Column(DATE())
    column2 = Column(Time())
    #column3 = Column(SECONDDATE())
    column4 = Column(TIMESTAMP())

    def __repr__(self):
        return "<User(id=%d, column1=%s, column2=%s)>" % (
        self.id, self.column1, self.column2)

In [10]:
Base.metadata.create_all(engine)

2020-08-15 12:47:41,479 INFO sqlalchemy.engine.base.Engine SELECT 1 FROM SYS.TABLES WHERE SCHEMA_NAME=? AND TABLE_NAME=?
2020-08-15 12:47:41,480 INFO sqlalchemy.engine.base.Engine ('SYSTEM', 'TABLE1')
2020-08-15 12:47:41,622 INFO sqlalchemy.engine.base.Engine
CREATE COLUMN TABLE table1 (
	id INTEGER NOT NULL,
	column1 DATE,
	column2 TIME,
	column4 TIMESTAMP,
	PRIMARY KEY (id)
)


2020-08-15 12:47:41,623 INFO sqlalchemy.engine.base.Engine ()
2020-08-15 12:47:41,642 INFO sqlalchemy.engine.base.Engine COMMIT

In [11]:
Base.metadata.drop_all(engine)

2020-08-15 12:47:42,410 INFO sqlalchemy.engine.base.Engine SELECT 1 FROM SYS.TABLES WHERE SCHEMA_NAME=? AND TABLE_NAME=?
2020-08-15 12:47:42,410 INFO sqlalchemy.engine.base.Engine ('SYSTEM', 'TABLE1')
2020-08-15 12:47:42,422 INFO sqlalchemy.engine.base.Engine
DROP TABLE table1
2020-08-15 12:47:42,423 INFO sqlalchemy.engine.base.Engine ()
2020-08-15 12:47:42,438 INFO sqlalchemy.engine.base.Engine COMMIT

### Numeric Types

In [12]:
from sqlalchemy import Table, Column, SMALLINT, INTEGER, BIGINT, NUMERIC, REAL, FLOAT

Base = declarative_base()
class Table2(Base):
    __tablename__ = 'table2'
    __table_args__ = {'hana_table_type': 'COLUMN'}
    
    id = Column(Integer, primary_key=True)
    #column1 = Column(TINYINT())
    column2 = Column(SMALLINT())
    column3 = Column(INTEGER())
    column4 = Column(BIGINT())
    column5 = Column(NUMERIC())
    column7 = Column(REAL())
    column7 = Column(FLOAT())

    def __repr__(self):
        return "<User(id=%d, column1=%s, column2=%s)>" % (
        self.id, self.column1, self.column2)

In [13]:
Base.metadata.create_all(engine)

2020-08-15 12:49:24,389 INFO sqlalchemy.engine.base.Engine SELECT 1 FROM SYS.TABLES WHERE SCHEMA_NAME=? AND TABLE_NAME=?
2020-08-15 12:49:24,390 INFO sqlalchemy.engine.base.Engine ('SYSTEM', 'TABLE2')
2020-08-15 12:49:24,402 INFO sqlalchemy.engine.base.Engine
CREATE COLUMN TABLE table2 (
	id INTEGER NOT NULL,
	column2 SMALLINT,
	column3 INTEGER,
	column4 BIGINT,
	column5 DECIMAL,
	column7 FLOAT,
	PRIMARY KEY (id)
)


2020-08-15 12:49:24,402 INFO sqlalchemy.engine.base.Engine ()
2020-08-15 12:49:24,422 INFO sqlalchemy.engine.base.Engine COMMIT

In [14]:
Base.metadata.drop_all(engine)

2020-08-15 12:49:24,933 INFO sqlalchemy.engine.base.Engine SELECT 1 FROM SYS.TABLES WHERE SCHEMA_NAME=? AND TABLE_NAME=?
2020-08-15 12:49:24,934 INFO sqlalchemy.engine.base.Engine ('SYSTEM', 'TABLE2')
2020-08-15 12:49:24,945 INFO sqlalchemy.engine.base.Engine
DROP TABLE table2
2020-08-15 12:49:24,945 INFO sqlalchemy.engine.base.Engine ()
2020-08-15 12:49:24,960 INFO sqlalchemy.engine.base.Engine COMMIT

### Character string Types

In [16]:
from sqlalchemy import Table, Column, VARCHAR, NVARCHAR, ALPHANUM

Base = declarative_base()
class Table3(Base):
    __tablename__ = 'table3'
    __table_args__ = {'hana_table_type': 'COLUMN'}
    
    id = Column(Integer, primary_key=True)
    column1 = Column(VARCHAR())
    column2 = Column(NVARCHAR())
    #column3 = Column(ALPHANUM())
    column4 = Column(SHORTTEXT())
    def __repr__(self):
        return "<User(id=%d, column1=%s, column2=%s)>" % (
        self.id, self.column1, self.column2)

ImportError: cannot import name 'ALPHANUM' from 'sqlalchemy' (/Users/yeongseon/Github/sqlalchemy-hana-tutorial/venv/lib/python3.7/site-packages/sqlalchemy/__init__.py)

In [17]:
Base.metadata.create_all(engine)

2020-08-15 12:50:18,227 INFO sqlalchemy.engine.base.Engine SELECT 1 FROM SYS.TABLES WHERE SCHEMA_NAME=? AND TABLE_NAME=?
2020-08-15 12:50:18,228 INFO sqlalchemy.engine.base.Engine ('SYSTEM', 'TABLE2')
2020-08-15 12:50:18,240 INFO sqlalchemy.engine.base.Engine
CREATE COLUMN TABLE table2 (
	id INTEGER NOT NULL,
	column2 SMALLINT,
	column3 INTEGER,
	column4 BIGINT,
	column5 DECIMAL,
	column7 FLOAT,
	PRIMARY KEY (id)
)


2020-08-15 12:50:18,241 INFO sqlalchemy.engine.base.Engine ()
2020-08-15 12:50:18,260 INFO sqlalchemy.engine.base.Engine COMMIT

In [18]:
Base.metadata.drop_all(engine)

2020-08-15 12:50:18,722 INFO sqlalchemy.engine.base.Engine SELECT 1 FROM SYS.TABLES WHERE SCHEMA_NAME=? AND TABLE_NAME=?
2020-08-15 12:50:18,723 INFO sqlalchemy.engine.base.Engine ('SYSTEM', 'TABLE2')
2020-08-15 12:50:18,736 INFO sqlalchemy.engine.base.Engine
DROP TABLE table2
2020-08-15 12:50:18,737 INFO sqlalchemy.engine.base.Engine ()
2020-08-15 12:50:18,757 INFO sqlalchemy.engine.base.Engine COMMIT