# SQLite

https://docs.python.org/3/library/sqlite3.html

In [71]:
import sqlite3

## Check version

In [72]:
print(sqlite3.version)

2.6.0

## Connecting to a database

In [73]:
con = sqlite3.connect('test.db')

In [69]:
!rm test.db

In [74]:
!ls

LICENSE                        SQLite.ipynb
README.md                      requirements.txt
SQLAlchemy Core.ipynb          sqlalchemy-hana-connection.py
SQLAlchemy ORM.ipynb           sqlalchemy-hana-select.py
SQLAlchemy-HANA ORM Type.ipynb test.db
SQLAlchemy-HANA Type.ipynb     venv

In [80]:
cur = con.cursor()

In [81]:
cur

## Creating table

| Id |  Athlete          | Nationality |  Time      |
| -- | ----------------- | ----------- | ---------- |
| 1  | Lawrence Cherono  | Kenya       | 2:07:57    |
| 2  | Lelisa Desisa     | Ethiopia    | 2:07:59    |
| 3  | Kenneth Kipkemoi  | Ethiopia    | 2:08:07    |

| name          | SQL type    |
| ------------- | ----------- |
| id            | INTEGER     |
| Athlete       | TEXT        |
| Nationality   | TEXT        |
| Time          | DATETIME    |

In [82]:
sql_stmt = """
CREATE TABLE RESULTS (
ID INTEGER PRIMARY KEY NOT NULL,
ATHLETE TEXT NOT NULL,
NATIONALITY TEXT NOT NULL,
TIME TIME NOT NULL)
"""

In [83]:
cur.execute(sql_stmt)

In [84]:
con.commit()

### Inserting data to table

In [86]:
sql_stmt = """
INSERT INTO RESULTS VALUES (1, 'Lawrence Cherono', 'Kenya', '2:07:57')
"""

In [87]:
cur.execute(sql_stmt)

In [88]:
con.commit()

In [89]:
sql_stmt = """
INSERT INTO RESULTS VALUES (2, 'Lelisa Desisa', 'Ethiopia', '2:07:59')
"""

In [91]:
cur.execute(sql_stmt)

In [32]:
con.commit()

In [92]:
sql_stmt = """
INSERT INTO RESULTS VALUES (3, 'Kenneth Kipkemoi', 'Kenya', '2:08:07')
"""

In [93]:
cur.execute(sql_stmt)

### Querying data from table

In [94]:
sql_stmt = """
SELECT * FROM RESULTS
"""
cur.execute(sql_stmt)

In [95]:
print(cur.fetchall())

[(1, u'Lawrence Cherono', u'Kenya', u'2:07:57'), (2, u'Lelisa Desisa', u'Ethiopia', u'2:07:59'), (3, u'Kenneth Kipkemoi', u'Kenya', u'2:08:07')]

In [96]:
cur.execute(sql_stmt)
for row in cur.fetchall():
    print(row)

(1, u'Lawrence Cherono', u'Kenya', u'2:07:57')
(2, u'Lelisa Desisa', u'Ethiopia', u'2:07:59')
(3, u'Kenneth Kipkemoi', u'Kenya', u'2:08:07')

### Updating data in table

In [97]:
sql_stmt = """
UPDATE RESULTS SET NATIONALITY='Ethiopia' WHERE ID=3
"""
cur.execute(sql_stmt)

In [98]:
con.commit()

In [99]:
sql_stmt = """
SELECT * FROM RESULTS
"""
cur.execute(sql_stmt)
for row in cur.fetchall():
    print(row)

(1, u'Lawrence Cherono', u'Kenya', u'2:07:57')
(2, u'Lelisa Desisa', u'Ethiopia', u'2:07:59')
(3, u'Kenneth Kipkemoi', u'Ethiopia', u'2:08:07')

### Deleting data from table

In [100]:
sql_stmt = """
DELETE FROM RESULTS
WHERE ID=3
"""
cur.execute(sql_stmt)

In [101]:
con.commit()

In [102]:
sql_stmt = """
SELECT * FROM RESULTS
"""
cur.execute(sql_stmt)
for row in cur.fetchall():
    print(row)

(1, u'Lawrence Cherono', u'Kenya', u'2:07:57')
(2, u'Lelisa Desisa', u'Ethiopia', u'2:07:59')

In [103]:
con.close()